<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebpageKeywordChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <!--Leeds Bond Street - branchId=338"-->
      <!--Leeds Headrow - &#76;&#101;&#101;&#100;&#115; - branchId=29"-->
      <WebpageKeywordChecker.Properties.Settings>
        <setting name="UrlToCheck" serializeAs="String">
          <value>https://uk.webuy.com/product.php?sku=0454965218NS</value>
        </setting>
        <setting name="TextToFind" serializeAs="String">
          <value>&amp;#76;&amp;#101;&amp;#101;&amp;#100;&amp;#115;</value>
        </setting>
        <setting name="LogFolder" serializeAs="String">
          <value>C:\Temp\Logs</value>
        </setting>
        <setting name="FromEmail" serializeAs="String">
          <value>captain_dogendo@hotmail.com</value>
        </setting>
        <setting name="ToEmail" serializeAs="String">
          <value>captain.dogendo@gmail.com</value>
        </setting>
        <setting name="EmailPassword" serializeAs="String">
          <value />
        </setting>
      </WebpageKeywordChecker.Properties.Settings>
    </applicationSettings>
</configuration>